<!-- ================ start banner area ================= -->
<section class="blog-banner-area" id="category">
		<div class="container h-100">
			<div class="blog-banner">
				<div class="text-center">
					<h1>Team 20B05</h1>
					<nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#"></a>Welcome to TyPee-House</li>
           
            </ol>
          </nav>
				</div>
			</div>
    </div>
	</section>
<!-- ================ end banner area ================= -->

<!--================Blog Area =================-->
<section class="blog_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog_left_sidebar">
                    <article class="row blog_item">
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-9">
                            <div class="blog_post">
                                <img src="img/tri.png" alt="">
                                <div class="blog_details">
                                    <a href="#">
                                        <h2>Nguyễn Cao Trí - LEADER  </h2>
                                    </a>
                                    <p>1712831  HCMUS</p>
                                    <a class="button button-blog" href="#">View More</a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="row blog_item">
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-9">
                            <div class="blog_post">
                                <img src="img/duyen.jpg" alt="">
                                <div class="blog_details">
                                    <a href="#">
                                        <h2>Võ Thị Ngọc Duyên - REPORTER</h2>
                                    </a>
                                    <p>1712398   HCMUS</p>
                                    <a class="button button-blog" href="#">View More</a>
                                </div>
                            </div>
                        </div>
                    </article><article class="row blog_item">
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-9">
                            <div class="blog_post">
                                <img src="img/duy.png" alt="">
                                <div class="blog_details">
                                    <a href="#">
                                        <h2>Trần Bảo Duy - MEMBER</h2>
                                    </a>
                                    <p>1712391   HCMUS</p>
                                    <a class="button button-blog" href="#">View More</a>
                                </div>
                            </div>
                        </div>
                    </article><article class="row blog_item">
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-9">
                            <div class="blog_post">
                                <img src="img/bao.jpg" alt="">
                                <div class="blog_details">
                                    <a href="#">
                                        <h2>Phạm Văn Bảo - MEMBER</h2>
                                    </a>
                                    <p>1712287   HCMUS</p>
                                    <a class="button button-blog" href="#">View More</a>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>

        </div>
    </div>
</section>
<!--================Blog Area =================-->